body {
    background-image: linear-gradient(to right, white, #D2B4DE);
  }

.no-underline {
    text-decoration: none;
}

.logo-link {
    color: #700000;
}

.logo-link:hover {
    color: black;
    text-decoration: underline;

}