<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<!-- Required for static files -->
	{% load static %}

	<!-- Bootstrap and StarRating base stylesheets -->
	<link rel="stylesheet" href="{% static 'Bootstrap5-2/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'StarRating/css/star-rating.min.css' %}">

	<!-- jQuery, Bootstrap and StarRating base scripts -->
	<script src="{% static 'jquery-3.6.1.min.js' %}"></script>
	<script src="{% static 'Bootstrap5-2/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'StarRating/js/star-rating.min.js' %}"></script>
	
	<!-- StarRating SVG theme -->
	<link rel="stylesheet" href="{% static 'StarRating/themes/krajee-svg/theme.min.css' %}">
	<script src="{% static 'StarRating/themes/krajee-svg/theme.min.js' %}"></script>

	<!-- Our CSS file -->
	<link rel="stylesheet" href="{% static 'css/index.css' %}">

	<title>DormReviews</title>

</head>
<body>
	<header class="d-flex justify-content-center py-3">
		<h1><a class="link-dark no-underline" href="/dormapp/">DormReviews</a></h1>
	  </header>
	<div class="container">
		{% block content %}
		replace me
		{% endblock %}
	</div>
</body>



</html>