<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	{% load static %}
	<link rel="stylesheet" href="{% static 'Bootstrap5-2/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'StarRating/css/star-rating.min.css' %}">

	<script src="{% static 'jquery-3.6.1.min.js' %}"></script>
	<script src="{% static 'Bootstrap5-2/js/bootsrap.min.js' %}"></script>
	<script src="{% static 'StarRating/js/star-rating.min.js' %}"></script>
	
	<title>DormReviews</title>

</head>
<body>
	{% block content %}
	replace me
	{% endblock %}
</body>



</html>