<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<!-- Required for static files -->
	{% load static %}

	<!-- Bootstrap, StarRating, and Select2 base stylesheets -->
	<link rel="stylesheet" href="{% static 'Bootstrap5-2/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'StarRating/css/star-rating.min.css' %}">
	<link rel="stylesheet" href="{% static 'Select2/css/select2.min.css' %}">

	<!-- jQuery, Bootstrap, StarRating, and Select2 base scripts -->
	<script src="{% static 'jquery-3.6.1.min.js' %}"></script>
	<script src="{% static 'Bootstrap5-2/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'StarRating/js/star-rating.min.js' %}"></script>
	<script src="{% static 'Select2/js/select2.full.min.js' %}"></script>
	
	<!-- StarRating SVG theme -->
	<link rel="stylesheet" href="{% static 'StarRating/themes/krajee-svg/theme.min.css' %}">
	<script src="{% static 'StarRating/themes/krajee-svg/theme.min.js' %}"></script>

	<!-- Our CSS file -->
	<link rel="stylesheet" href="{% static 'css/index.css' %}">

	<title>DormReviews</title>
</head>

<body>
	<header class="d-flex justify-content-center py-3">
		<h1><a class="logo-link no-underline" href="/dormapp/">DormReviews</a></h1>
	  </header>
	<style>
		body {
			background-image: linear-gradient(to right, white, #D2B4DE);
		  }	
		.paddingClass {
			padding: 50px 10px 50px 10px;
		}	
	</style>
	<div class="container">
		{% block content %}
		replace me
		{% endblock %}
	</div>
</body>



</html>