{% extends 'base.html' %}
{% block content %}
{% load static %}

<style>
	.carousel .carousel-item {
	height: 300px;
	}

	.carousel-item img {
		position: absolute;
		object-fit: contain;
		top: 0;
		left: 0;
		height: 300px;
	}

	.carousel {
		background-color: darkgray;
		border-radius: 20px;
		overflow: hidden;
	}
</style>

<div class="row">
	<div class="col">
		<!-- Res Hall Name, buttons -->
		<div class="paddingClass">
			<h1>{{resHallName}}</h1>
			<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
				Write Review
			</button>
			<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#photoPopup">
				Upload Photo
			</button>
			<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addDormRoomPopup">
				Add Dorm Room
			</button>
		</div>
		<!-- Dorm Rooms List-->
		<div class="paddingClass">
			<h3>Dorm Rooms:</h3>
			{% for dormRoom in dormRoomList %}
				<div class="card">
					<div class="card-body">
					{% if dormRoom.thumbnail %}
					<img src="/media/{{dormRoom.thumbnail}}" alt="{{dormRoom.roomNumber}}"
						style="width:300px;height:200px"/>
					{% endif %}
					<h5 class="card-title">{{dormRoom.roomNumber}}</h5>
					<p class="card-text">Average rating: {{dormRoom.rating}}</p>
					<input id="rating-system-{{dormRoom.id}}" value="{{dormRoom.rating}}" type="number" class="rating-loading starRating" min="0" max="5">
					<a href="/dormapp/{{dormRoom.id}}/reviews" class="stretched-link"></a>
					
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	<div class="col">
		<!-- Photo Carousel -->
		<div class="paddingClass">
			<h3>Photos:</h3>
			{% if photoCount %}
			<div id="resHallCarousel" class="carousel slide" data-bs-ride="false">
				<div class="carousel-indicators">
				{% for photo in resHallPhotos %}
					<button type="button" data-bs-target="#resHallCarousel" data-bs-slide-to="{{forloop.counter0}}" class="{% if forloop.first %}active{% endif %}" aria-current="true" aria-label="Slide {{forloop.counter}}"></button>
				{% endfor %}
				</div>
				<div class="carousel-inner">
				{% for photo in resHallPhotos %}
					<div class="carousel-item{% if forloop.first %} active{% endif %}">
						<img src="/media/{{photo.photo}}" class="d-block w-100 carousel-image" alt="Photo {{forloop.counter}}">
					</div>
				{% endfor %}
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#resHallCarousel" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#resHallCarousel" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
			{% else %}
				<a class="link-primary" data-bs-toggle="modal" data-bs-target="#photoPopup" href="#">
					Be the first to upload a photo of this residence hall!
				</a>
			{% endif %}
		</div>
		<!-- Res Hall Reviews -->
		<div class="paddingClass">
			<h3>Reviews:</h3>
			{% for review in resHallReviewList %}
				<div class="card">
					<div class="card-body">
						<h6 class="card-title">{{review.reviewTitle}}</h6>
						<p class="card-text">{{review.dateCreated}}</p>
						<input id="rating-system-{{review.id}}" value="{{review.starRating}}" type="number" class="rating-loading starRating" min="0" max="5">
						<p class="card-text">{{review.reviewBody}}</p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>


<!-- Write Review Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
	aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<form id="reviewForm" action="addReview" method="POST" autocomplete="off">
				{% csrf_token %}
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">{{resHallName}} Review</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="reviewTitle">Review title:</label><br>
						<input class="form-control" type="text" id="reviewTitle" name="reviewTitle" autofocus><br>
					</div>
					<div class="form-group">
						<label for="rating">Rating:</label><br>
						<input class="form-control" type="number" id="rating" name="rating" class="rating-loading" min="0" max="5"><br>
					</div>
					<div class="form-group">
						<label for="comments">Review body:</label>
						<textarea class="form-control" id="comments" name="comments" rows="4"></textarea>
					</div>
					<input type="text" class="" value="{{resHallId}}" id="resHallId" name="resHallId" hidden disabled>


				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<input type="submit" class="btn btn-primary" value="Submit">
				</div>
			</form>
		</div>
	</div>
</div>


<!-- Upload Photo Modal -->
<div class="modal fade" id="photoPopup" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
	aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<form id="photoForm" action="addResHallPhoto" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">{{resHallName}} Review</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<input type="file" id="myPhoto" name="myPhoto" accept="image/png, image/jpeg, image/gif" required>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<input type="submit" class="btn btn-primary" value="Submit">
				</div>
			</form>
		</div>
	</div>
</div>

<!-- New Dorm Room Modal -->
<div class="modal fade" id="addDormRoomPopup" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
	aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<form id="addDormRoomForm" action="addDormRoom" method="POST" autocomplete="off">
				{% csrf_token %}
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Add Dorm Room to {{resHallName}}</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="roomNumber">Room number:</label><br>
						<input class="form-control" type="text" id="roomNumber" name="roomNumber" autofocus required><br>
					</div>
					<input type="text" class="" value="{{resHallId}}" id="resHallId" name="resHallId" hidden disabled>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<input type="submit" class="btn btn-primary" value="Submit">
				</div>
			</form>
		</div>
	</div>
</div>

{% if message %}
<script>
	alert("{{message}}");
</script>
{% endif %}

<script>
	$(document).ready(function(){
		
		// Show read-only stars on each review
		$('.starRating').each(function() {
			$(this).rating({
				displayOnly: true, 
				step: 0.1,
				showCaption: false

			});
		});

		// Write review modal
		$('#staticBackdrop').on('shown.bs.modal', function () {
			// initialize star input
			$('#rating').rating({
				displayOnly: false, 
				step: 1,
				showCaption: false,
				showClear: false

			});

			// autofocus on title field
			$(this).find('[autofocus]').focus();
		});
		
		// Add dorm room modal
		$('#addDormRoomPopup').on('shown.bs.modal', function() {
			$(this).find('[autofocus]').focus();
		})

	});
</script>

{% endblock %}