{% extends 'base.html' %}

{% block content %}
<h1>{{dormName}}</h1>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
	Write Review
</button>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
	aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<form id="dormReviewForm" action="addDormReview" method="POST">
				{% csrf_token %}
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">{{dormName}} Review</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">

					<label for="dormReviewTitle">Review Title:</label><br>
					<input type="text" id="reviewTitle" name="reviewTitle"><br>
					<label for="rating">Rating:</label><br>
					<input type="number" id="rating" name="rating" class="rating-loading" min="0" max="5"><br>
					<textarea id="comments" name="comments" rows="4" cosl="50">
        			</textarea>
					<br>
					<input type="text" value="{{dormId}}" id="dormId" name="dormId" hidden disabled>


				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<input type="submit" class="btn btn-primary" value="Submit">

				</div>
			</form>
		</div>
	</div>
</div>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#photoPopup">
	Upload Photo
</button>
<!-- Photo -->
<div class="modal fade" id="photoPopup" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
	aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<form id="photoForm" action="addPhoto" method="POST">
				{% csrf_token %}
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">{{dormName}} Review</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">

					{% comment %} <label for="reviewTitle">Review Title:</label><br>
					<input type="text" id="reviewTitle" name="reviewTitle"><br>
					<label for="rating">Rating:</label><br>
					<input type="number" id="rating" name="rating" class="rating-loading" min="0" max="5"><br>
					<textarea id="comments" name="comments" rows="4" cosl="50">
        			</textarea>
					<br>
					<input type="text" value="{{resHallId}}" id="resHallId" name="resHallId" hidden disabled> {% endcomment %}
					<input type="file" id="myPhoto" name="myPhoto" accept="image/png, image/jpeg">

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<input type="submit" class="btn btn-primary" value="Submit">

				</div>
			</form>
		</div>
	</div>
</div>
<!-- Dorm Reviews -->
<h2>Reviews:</h2>
{% for review in dormReviewList %}
	<div class="card">
		<div class="card-body">
			<h6 class="card-title">{{review.reviewTitle}}</h6>
			<p class="card-text">{{review.dateCreated}}</p>
			<input id="rating-system-{{review.id}}" value="{{review.starRating}}" type="number" class="rating-loading starRating" min="0" max="5">
			<p class="card-text">{{review.reviewBody}}</p>
		</div>
	</div>
{% endfor %}


<script>
	$(document).ready(function(){
		
		// Show read-only stars on each review
		$('.starRating').each(function() {
			$(this).rating({
				displayOnly: true, 
				step: 0.1,
				showCaption: false

			});
		});

		// Show editable stars on add review modal
		$('#staticBackdrop').on('shown.bs.modal', function () {
			$('#rating').rating({
				displayOnly: false, 
				step: 1,
				showCaption: false,
				showClear: false

			});
		});
	});
	

</script>

{% endblock %}