{% extends 'base.html' %}
{% block content %}

<style>	
	ul.not-too-wide {
		width: min-content;
		min-width: 60%;
	}

	a.big-names {
		font-size: 18px;
	}
</style>


 





<h2>Select your college/university:</h2>
<ul class="list-group not-too-wide">
{% for university in universitiesList %}
	<li class="list-group-item d-flex justify-content-between align-items-center">
		<a class="stretched-link link-dark big-names" href="{% url 'dormapp:resHallsPage' university.id %}">
			{{university.name}}
		</a>
		<span class="badge bg-secondary rounded-pill">{{university.reviewCount}} reviews</span>
		
	</li>
{% endfor %}
</ul>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addUniversityPopup">
	Add University
</button>

<!-- New University Modal -->
<div class="modal fade" id="addUniversityPopup" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
	aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<form id="addUniversityForm" action="addUniversity" method="POST" autocomplete="off">
				{% csrf_token %}
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Add University</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="name">Name:</label><br>
						<input class="form-control" type="text" id="name" name="name" autofocus required><br>
					</div>
					<!--<input type="text" class="" value="{{universityId}}" id="universityId" name="universityId" hidden disabled>-->
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<input type="submit" class="btn btn-primary" value="Submit">
				</div>
			</form>
		</div>
	</div>
</div>

{% if message %}
<script>
	alert("{{message}}");
</script>
{% endif %}

<script>
$(document).ready(function(){
	// Add dorm room modal
	$('#addUniversityPopup').on('shown.bs.modal', function() {
		$(this).find('[autofocus]').focus();
	})
});
</script>

{% endblock %}
