
{% extends 'base.html' %}

{% block content %}
<h1>Residence Halls</h1>
{% for resHall in resHallsList %}

	<div class="card">
  	<div class="card-body">
    <h5 class="card-title">{{resHall.name}}</h5>
    <p class="card-text">Rating: {{resHall.rating}}</p>
	<input id=""rating-system-{{resHall.name}} value="{{resHall.rating}}" type="number" class="rating-loading starRating" min="0" max="5">
    <a href="resHalls/{{resHall.name}}" class="stretched-link"></a>
    
  </div>
</div>

	
{% endfor %}

<script>
	$(document).ready(function(){
		$('.starRating').each(function() {
			$(this).rating({
				displayOnly: true, 
				step: 0.1
			});
		});
});
</script>
{% endblock %}